* {
    margin:0px;
    padding:0px;
    padding-inline-start:0px;
}


header{
    color:white;
       ul{
            display: flex;
            background-color: blue;
            
    
            li{
                text-decoration: none;
                list-style: none;
                a{
                    color: white;
                    text-decoration: none;
                    padding:50px;
                }
                
                
                
            }
            
            
            
            
        }
        }
